# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"

# Email (Resend)
RESEND_API_KEY=""

# Upload Config
UPLOAD_DIR="./uploads"

# App Info
NEXT_PUBLIC_APP_URL="http://localhost:3000"
